@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600&family=Ubuntu+Mono&display=swap');


#terminalSection {

    transition: all 0.5s;
    width: 100%;
    
}

.t-beforeanim {
    transform: scale(0.1);
    opacity: 0;
}

.t-afteranim {
    transform: scale(1);
}

#terminal {
    border-radius: 10px;
    width: 92vw;
    box-sizing: border-box;
    min-height: 162px;
    padding: 10px 7px;
    border-radius: 6px;
    border: 2px solid #0F141F;
    background: linear-gradient(180deg, #151A27 0%, #000511 100%);
    justify-self: center;
    color: #84A6FC;

}

#terminal * {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12px;
    line-height: 18px;
    /* 150% */
    letter-spacing: 1px;
}

.t-labels-holder {
    margin-bottom: 2px;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.tLabel {
    font-size: 8px;
    display: flex;
}

.t-grey {
    color: #7885A3;
}

.t-blue {
    color: #84A6FC;
}

.t-orange {
    color: #B77745;
}

.t-yellow {
    color: #EECF92;
}

.t-green {
    color: #7FC08F;
}

.t-pink {
    color: #CCA8FF;
}

.t-red {
    color: #FC8484;
}

.t-white {
    color: white;
}

.show-success {
    display: block;
    animation: showSuccessAnimation 1s ease-in-out;
}

.success-overlay {
    display: flex;
    justify-content: center;
    color: white;
}

.success-content {
    background: linear-gradient(92deg, #001C61 1.25%, #000511 64.76%);
    padding: 30px 50px;
    min-width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 12px;
    border-radius: 14px;
}

.sc-stroke {
    border-radius: 14px;
    padding: 1px;
    background: linear-gradient(316deg, rgba(255, 255, 255, 0.00) 36.54%, #FFF 109.09%);

}


.success-content a {
    width: 100%;
}

.Sucess-sucess-overlay {
    font-size: 24px;
}

.Frustrated-Info {
    max-width: 200px;
    text-align: center;
    font-size: 8px;
    color: #B4BCD0;
    padding: 5px;
}

.success-content span {
    font-size: 35px;
    font-weight: 700;
}

.success-content h1 {
    font-size: 18px;
    text-align: center;
}

.success-content h1 span {
    font-size: 18px;
    color: limegreen;
}

.timerHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timerHolder h2 {
    margin-top: 5px;
    font-size: 16px;
}


.Time-Left {
    text-align: center;
    font-size: 14px;
    margin-top: 8px;
}



.signalContent {
    display: flex;
    justify-content: center;
    border-radius: 7px;
    padding: 20px;
    background: linear-gradient(180deg, #151A27 0%, #000511 100%);
}

.signalContent span {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1px;
}

.signalContent span .highlighted {
    color: #3371FF;

}

.fixedSC {
    width: 120%;

    border-radius: 7px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 25%, #FFF 98.29%);
    padding: 1px;

}



.sucess-button {
    cursor: pointer;

    min-height: 30px;
    border-radius: 99px;
    margin-top: 10px;

    padding: 10px 0px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #2558D3 29%, #1944AC 100%);
    box-shadow: -1px -1px 2px 0px #19367C inset, 1px 1px 0px 0px rgba(192, 193, 224, 0.20) inset, 0px 12px 50px 0px rgba(71, 113, 217, 0.44);
    font-size: 15px;
    color: white;
    font-weight: bold;
    border: 1px;
    width: 100%;
}

.hidden {
    display: none;
}

.End-Info {
    max-width: 250px;
    text-align: center;
    font-size: 12px;
    color: #B4BCD0;
    padding: 5px;
}

@keyframes showSuccessAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}