@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0px;
  margin: 0px;
}

.mainText {
  color: white;
}

.secondText {
  color: #B4BCD0;
}

.marginSpacings {
  padding: 0 20px;
}