body{
    background: #000511;
    overflow-x: hidden; 
    overflow-y: auto;
}
body::-webkit-scrollbar {
    display: none;
}
.none {
    opacity: 0;
    display: none;
}
.blur {
    filter: blur(5px);
}
.box{
    padding: 10px;
    margin: 25px;
    position: relative;
    display: flex;
    justify-content: center;
}
.container h4{
    color: #B4BCD0;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 20px;
    max-width: 300px;
}
.BarFrustrar{
    width: 85%;
    position: absolute;
    transform: translateY(40px);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-title{
    color: #FFF;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 5px;
}
.game-info-container{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;

}
.game-info{
    color: #B4BCD0;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 15.5px;
}
.game-pay-reve{
    display: flex;
    gap: 10px;
}


.fBarFrustrar{
    width: 100%
}

.frustrate-button{
    cursor: pointer;
    width: 100%;
    height: 42px;
    border-radius: 99px;
    background: radial-gradient(70.71% 70.71% at 50% 50%, #2558D3 29%, #1944AC 100%);
    box-shadow: -1px -1px 2px 0px #19367C inset, 1px 1px 0px 0px rgba(192, 193, 224, 0.20) inset, 0px 12px 50px 0px rgba(71, 113, 217, 0.44);
    font-size: 15px;
    color: white;
    font-weight: bold; 
    border: 1px;
}




.fprogress-bar {
    width: 99%;
    border-radius: 15px;
    border: 1px solid #00FE38;
    background: #0D1423;
    box-shadow: 0px 4px 250px 0px #000;
    height: 30px;
    position: relative;
    overflow: hidden;
}
.fprogress-fill {
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(2, 255, 58, 0.75) 2.76%, #70FF8F 65.29%, #0D1423 75.27%);
    height: 100%;
    width: 0;
    transition: width 0.5s ease-in-out;
}

.fprogress-value{
    position: absolute;
    padding: 2px 9px;
    width: fit-content;
    height: fit-content;
    background-color: #0D1423;
    color: #01F037;
    left: 50%;
    right: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    font-weight: 700;
    font-size: 12px;
    border-radius: 999px;

}

.pg-normal {
    border: 1px solid #57AEFF;
}
.pgv-normal {
    color: #57AEFF;
}
.pgf-normal {
    background: linear-gradient(90deg, rgba(87, 174, 255, 0.75) 2.76% ,  #57AEFF 65.29% , #0D1423 75.27%);
}




.pg-bad{
    border: 1px solid red;
}
.pgv-bad {
    color: red;
}
.pgf-bad{
    background: linear-gradient(90deg, #F00 2.76%, rgba(255, 0, 0, 0.75) 65.29% ,#0D1423 75.27%);
}

#iframe{

    width: 95%;
    box-sizing: border-box;
    height: 750px;
    border-radius: 9px;
}